= form_for @qweasd do |f|
  - if @qweasd.errors.any?
    #error_explanation
      %h2= "#{pluralize(@qweasd.errors.count, "error")} prohibited this qweasd from being saved:"
      %ul
        - @qweasd.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
